body {margin: 0;
    height: 100%;
	
	color: #FFD700;
	background-color:#6600ff;
    font-size: xx-large;
	/*-moz-background-size: 180%;
	-webkit-background-size: 100%;
	-o-background-size: 200%;
	background-size: cover;*/

}
table{ color: #FFD700;
        font-size: xx-large;
	
}